/*-----------------------HEADER sytles----------------------------*/

.headerDiv {
  display: flex;
  padding: 0px 16px;
  height: 56px;
  align-items: center;
}
.leftDiv {
  flex: 2;
  display: flex;
}
.sidebarIconDiv {
  display: flex;
  align-items: center;
}
#sidebarIcon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}
#youtubeIcon {
  height: 20px;
  width: auto;
  padding: 18px 14px;
}

.userDiv {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  height: 34px;
  width: 60px;
}
#search-input {
  width: 50%;
  border-radius: 40px 0 0 40px;
  caret-color: var(--yt-spec-text-primary);
  margin-left: 32px;
  padding: 0px 4px 0px 16px;
}
#search-btn {
  border-radius: 0 40px 40px 0;
}
.searchbarDiv {
  flex: 8;
  display: inline-flex;
  justify-content: center;
  height: 40px;
}

/*-------------------------BODY Styles------------------------------*/
.bodyDiv {
  /* display: grid; */
  display: flex;
  /* grid-auto-flow: column; */
}
.sidebarDiv {
  /* padding: 5px;
  columns: 1;
  margin: 2px; */
}
.sidebarDiv > ul {
  list-style-type: none;
  margin: 0;
  padding: 2px;
}
.sidebarDiv > h4 {
  margin: 2px;
  padding-top: 10px;
}

.mainLayoutDiv {
  columns: 11;
  display: flex;
  flex-direction: column;
}

/*------------------------------------VIDEO CONTAINER STYLES--------------------------------*/
.video-container-parent {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0px 20px; */
  justify-content: center;
}

/*------------------------------------VIDEO CARD STYLES--------------------------------*/
.video-card-parent {
  max-width: 325px;
  border: 1px solid #f4f4f4;
  padding: 8px;
  margin: 10px 5px;
  height: 320px;
}
#video-title,
#channel-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}
.thumbnail {
  border-radius: 15px;
  background-color: #939393;
  cursor: pointer;
}
.thumbnail:hover {
  border-radius: 0px;
}
#upload-duration,
#video-views {
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  padding: 0px;
  margin: 0px;
  color: #606060;
}
/* -------------------------------- ButtonList Styles------------------------*/
#buttonStyles:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#buttonStyles {
  border-radius: 8px;
  white-space: nowrap;
  margin: 12px;
  margin-left: 0;
  color: #0f0f0f;
  transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);
  border: none;
  padding: 12px;
  min-width: 12px;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  position: relative;
  flex-direction: row;
  align-items: center;
  display: inline-flex;
  font-size: var(--ytd-user-comment-font-size);
  font-weight: var(--ytd-user-comment-font-weight);
  line-height: var(--ytd-user-comment-line-height);
  letter-spacing: var(--ytd-user-comment-letter-spacing);
  font-family: var(--ytd-user-comment-font-family);
  height: 32px;
  background-color: rgba(0, 0, 0, 0.05);
}

.buttonListDiv {
  display: flex;
  overflow-x: hidden;
  width: 90vw;
}
.buttonListDiv:hover {
  overflow-x: scroll;
}

/*--------------------------------------------MAIN VIDEO --------------------------------*/
.video-details-div {
  max-width: 183.7px;
  min-width: 640px;
}
#video-tile-title {
  word-break: break-word;
  font-family: "YouTube Sans", "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.8rem;
  font-weight: 600;
}
#video-tile-channelName {
  font-family: "YouTube Sans", "Roboto", sans-serif;
  font-size: 16px;
  color: #0f0f0f;
  font-weight: 700;
}
#video-tile-publishat {
  font-family: "YouTube Sans", "Roboto", sans-serif;
  font-size: 14px;
  color: #060606;
  font-weight: 400;
  padding-left: 8px;
  margin: 0px;
}
.video-description > p {
  padding: 0;
  font-size: 14px;
  margin: 0px;
}
.video-description {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 15px;
  max-width: 1200px;
  margin-bottom: 50px;
  cursor: pointer;
  word-spacing: 2px;
}

/*--------------------------------------------COMMENT--------------------------------*/
.single-comment {
  display: flex;
  margin: 15px 5px;
  padding: 10px;
  background-color: #f0efef;
  border-radius: 10px;
}
.comment-content > p {
  padding: 0;
  margin: 0;
}
.comment-content {
  padding: 5px;
  font-size: 14px;
}
#comment-user {
  font-weight: bold;
  padding-bottom: 2px;
}
a {
  text-decoration: none;
  color: #060606;
}

#shimmer-video-title,
#shimmer-channel-title {
  background-color: #c6c4c4;
  height: 15px;
  width: 100%;
}

#shimmer-container {
  animation: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**********************************************************SEARCHBAR********************************/
.suggestions-div {
  position: absolute;
  z-index: 1;
  border-radius: 12px;
  text-align: left;
  width: 34%;
  border-top: 0;
  top: 45px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: default;
}
.suggestions-a {
  border-radius: 12px;
  padding: 16px 0 8px;
  background: #fff;
}
.search-item {
  background: transparent;
  /* font-size: 1.6rem; */
  color: #222;
  line-height: 32px;
  padding-left: 16px;
}
.list-item {
  padding-left: 40px;
}
.list-item:hover {
  background: #f0efef;
}
